@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		margin: 0;
		padding: 0;
		@apply bg-neutral-900;
	}
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
}

@layer components {
	/* Letters */
	.letters--container {
		@apply grid text-center p-4 content-center items-center w-full gap-2 grid-cols-6 grid-rows-2 ml-0;
	}
	.letters--letter {
		@apply transition-all hover:animate-[letterFadeIn_1s_ease-in-out] text-white flex flex-col place-content-center min-h-[100px] text-3xl border-[1px] border-[rgb(255,255,255,0.3)] hover:border-[rgb(255,255,255,0.9)] ;
	}


	.progress--attempted-words {
		@apply break-words grid grid-cols-3  flex-grow text-center items-center content-center py-4;
	}

}
