@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

@layer components {
   
  .letters--container {
    @apply grid p-4 text-center content-center items-center w-full gap-3 grid-cols-6 grid-rows-2 border-4 rounded-lg border-black;
  }
  .letters--letter {
    @apply flex flex-col place-content-center min-h-[100px] rounded-lg text-3xl border-2 border-black;
  }

  .countdown--container {
   @apply flex flex-col text-center items-center content-center w-full border-4 rounded-lg border-black py-4 
  }  
  .countdown--timer {
    @apply flex text-6xl; 
  }

  .input--container {
    @apply flex flex-col text-center items-center content-center w-full border-[.5px] border-gray-900  py-4 gap-4
  }
  .input--field {
    @apply border-black border-2 
  }

  .input--submit-button {
    @apply uppercase tracking-widest text-3xl
  }
}
